img {
  width: 100%;
  border-radius: 5px;
}

body {
  background-color: #ccc;
  color: gray;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

h2 {
  font-family: "Russo One", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
}

p {
  font-family: "Russo One", sans-serif;
  font-size: 1em;
  font-weight: 100;
}

h3 {
  font-family: "Russo One", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  color: #7c0d0e;
}

main {
  margin: auto;
  max-width: 1200px;
  display: grid;
  gap: 20px;
}

.card {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #7c0d0e;
  color: blanchedalmond;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
